# Service de lancement de Jack2

[Unit]
Description=JACK_SERVICE
After=sound.target

[Service]
LimitRTPRIO=infinity
LimitMEMLOCK=infinity
ExecStart=/usr/bin/jackd -R -P90 -d alsa -X raw -dhw:U192k -r48000 -p256 -n2

[Install]
WantedBy=default.target
