# Service pour accorder les permissions pour acceder au gpio à tout les
# Utilisateurs

[Unit]
Description=SFX_PERMISSIONS_SERVICE
Type=oneshot

[Service]
ExecStart=/usr/bin/sfx_permissions.sh

[Install]
WantedBy=multi-user.target
