<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>

<config>

    <description>
        <name>SimpleDelay</name>
        <pool>5</pool>
        <version>1.0</version>
        <type>Time</type>
    </description>

    <params count="5">
        <group name="General">

            <param type="bool">
                <name>Bypass</name>
                <on>Bypassed</on>
                <off>Activated</off>
            </param>
            
            <param type="bounded">
                <name>Volume</name>
                <min>0</min>
                <max>1</max>
            </param>
            
        </group>

        <group name="Time">

            <param type="free">
                <name>Delay</name>
            </param>

            <param type="bounded">
                <name>Feedback</name>
                <min>0</min>
                <max>1</max>
            </param>

            <param type="bounded">
                <name>Dry-Wet</name>
                <min>0</min>
                <max>1</max>
            </param>
            
        </group>
        
    </params>

    <ports AudioIn="1" AudioOut="1" MidiIn="0" MidiOut="0">
        <port type="AudioIn">
            <name>Input</name>
        </port>
        <port type="AudioOut">
            <name>Output</name>
        </port>
    </ports>
    
</config>
